body{
background-image: linear-gradient(to bottom, #00aae4, hsl(183, 60%, 82%));
background-attachment: fixed;
margin: 0;
display: flex;
flex-direction: column;
}
.titulos {
    text-align: center;
    font-size: 3rem;       /* Hace el título mucho más grande (por defecto suele ser 2rem) */
    text-align: center;    /* Lo centra perfectamente en la pantalla */
    color: #ffffff;        /* Le da el color blanco para que contraste con el degradé celeste */
    margin-top: 30px;      /* Le da una separación prolija con el borde de arriba */
    margin-bottom: 20px;   /* Separa el título de los botones o inputs de abajo */
    text-transform: uppercase; /* Opcional: pone todo el título en mayúsculas si querés */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#botonesindex {
    text-align: center;
    margin-top: 175px;
}
footer{
    margin-top: 185px;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #056572;
}
.botonindex {
    padding: 10px;
    margin: 10px;
    border: #336eee solid 2px ;
    border-radius: 5px;
} 
